{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Terror - Store E11even</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
		<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	</head>
	
	<body>
		
		<!-- Header -->
		<header>
			<h1 class="titulo">Juegos de Terror</h1>
			<!-- agregamos carrito para simulacion de compra -->
			<div class="carrito-icono">
				<a href="{% url 'carro_compras' %}">
					🛒 <span id="contador-carrito">0</span>
				</a>
			</div>
		</header>
		
		<!-- Lista de Juegos -->
		<div class="game-list">
			<article class="game-item">
				<img src="https://juegosdigitaleschile.com/files/images/productos/1503962921-resident-evil-revelations-p4.JPG" alt="Resident Evil" class="game-image">
				<div class="game-info">
					<h3>Resident Evil Revelations</h3>
					<p><b>Precio: CLP$19.990</b></p>
					<button onclick="toggleDescripcion('desc1')" class="details-btn">Más detalles</button>
					<p class="descripcion" id="desc1">La historia se desarrolla en una época anterior a los incidentes de terrorismo biológico de Kijuju y Lanshiang, cuando la BSAA todavía era una organización joven...</p>
					<button onclick="agregarAlCarrito('Resident Evil Revelations', 19990)">Añadir al carrito</button>
				</div>
			</article>
			
			<article class="game-item">
				<img src="https://i.postimg.cc/wj8pD0h9/preferable-box.jpg" alt="Silent Hill" class="game-image">
				<div class="game-info">
					<h3>Silent Hill 2 PS5</h3>
					<p><strong>Precio: CLP$75.990</strong></p>
					<button onclick="toggleDescripcion('desc2')" class="details-btn">Más detalles</button>
					<p class="descripcion" id="desc2">Un remake del SILENT HILL 2 de 2001 con nuevos gráficos de avanzada que incluyen trazado de rayos. Mira el perturbador mundo de Silent Hill como nunca antes...</p>
					<button onclick="agregarAlCarrito('Silent Hill 2 PS5', 75990)">Añadir al carrito</button>
				</div>
			</article>
		</div>
		
		<!-- Btn para volver al inicio -->
		<a href="{% url 'inicio' %}" class="back-btn"> Volver a Inicio</a>
		
		<!-- Btn para volver al menu categorias -->
		<a href="{% url 'menu_categorias' %}" class="back-btn"> Volver a Categorias</a>
		
		<!-- **** Script **** -->
		
		<!-- Bootstrap -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		
		<script>
			function toggleDescripcion(id) {
				var descripcion = document.getElementById(id);
				if (descripcion.style.display === "none" || descripcion.style.display === "") {
					descripcion.style.display = "block";
					} else {
					descripcion.style.display = "none";
				}
			}
			
			//agregamos fx actualizar carrito y agregar productos para simulacion compra //
			function actualizarContadorCarrito() {
				fetch("{% url 'contador_carrito' %}")
				.then(response => response.json())
				.then(data => {
					document.getElementById("contador-carrito").textContent = data.total;
				})
				.catch(error => {
					console.error("Error al obtener el contador:", error);
				});
			}
			
			function agregarAlCarrito(nombre, precio) {
				fetch("{% url 'agregar_al_carrito' %}", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
						"X-CSRFToken": "{{ csrf_token }}"
					},
					body: JSON.stringify({
						nombre: nombre,
						precio: precio,
						cantidad: 1
					})
				})
				.then(response => {
					if (response.ok) {
						alert("Producto agregado al carrito ✅");
						actualizarContadorCarrito(); 
						} else {
						alert("Error al agregar producto.");
					}
				});
			}
			
			actualizarContadorCarrito();
			
		</script>
		
	</body>
</html>
