<!-- Panel flotante de bienvenida -->
{% if cliente %}
<div class="position-relative ms-3 mt-3" style="z-index: 1050;">
	
	<!-- Botón de cuenta -->
	<button
    id="boton-cuenta"
    style="background-color: rgb(71, 14, 73); border: none; cursor: pointer; font-size: 16px; padding: 10px 20px; color: white;"
    class="rounded-pill shadow"
    onmouseover="this.style.backgroundColor='rgb(72, 4, 79)'"
    onmouseout="this.style.backgroundColor='rgb(71, 14, 73)'"
	>
		👤 Bienvenida, {{ cliente.nombre|default:cliente.email }}
	</button>
	
	<!-- Menú lateral oculto -->
	<div
    id="opciones-cuenta"
    class="position-absolute shadow rounded d-none"
    style="top: 40px; left: 0; background: rgba(209, 108, 235, 0.7); padding: 10px; min-width: 160px; z-index: 9999;">
		<a href="{% url 'login_cliente' %}" class="btn btn-light mb-2 w-100">✉️ Mi Cuenta</a>
		<a href="{% url 'cerrar_sesion' %}" class="btn btn-outline-danger w-100">🚪 Cerrar sesión</a>
	</div>
	
</div>
{% endif %}
