<!-- Panel flotante de bienvenida -->
{% if cliente %}
<div class="position-relative ms-3 mt-3" style="z-index: 1050;">
	<a href="#" id="cliente_btn" class="d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
		<img src="https://img.icons8.com/color-glass/48/checked-user-male.png"
			 width="50"
			 height="50"
			 alt="Cliente"
			 title="Bienvenid@"
			 class="rounded-circle">
	</a>

	<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cliente_btn">
		<li><a class="dropdown-item" href="{% url 'login_cliente' %}">Mi cuenta</a></li>
		<li><hr class="dropdown-divider"></li>
		<li><a class="dropdown-item" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
	</ul>
</div>
{% endif %}
